@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: light dark;
  }

  /* html {
    font-size: 15px;
  } */

  body {
    background-color: rgb(0, 0, 0);
  }
}

@layer components {
  .t-rounded {
    @apply rounded-bl-full rounded-br-full rounded-tl-full rounded-tr-full;
  }

  .t-text-m {
    @apply text-[15px];
  }
}
